# decoratore

# **kwargs in python

In [4]:
krushna = {
    "name": "krushna",
    "age": 21,
    "salary":20000,
    "department":"HR"
}

In [5]:
type(krushna)

dict

In [7]:
krushna.keys()

dict_keys(['name', 'age', 'salary', 'department'])

In [9]:
krushna.values()

dict_values(['krushna', 21, 20000, 'HR'])

In [11]:
krushna.items()

dict_items([('name', 'krushna'), ('age', 21), ('salary', 20000), ('department', 'HR')])

In [14]:
for key, value in krushna.items():
    print(f"{key} : {value}")

name : krushna
age : 21
salary : 20000
department : HR

In [15]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key,value in kwargs.items():
        print(f"{key} : {value}")

In [20]:
function(name="koustubh",age=22)

{'name': 'koustubh', 'age': 22}
<class 'dict'>
name : koustubh
age : 22

In [21]:
function(emp_id=1, name="atharva", dept="marketing", married=False)

{'emp_id': 1, 'name': 'atharva', 'dept': 'marketing', 'married': False}
<class 'dict'>
emp_id : 1
name : atharva
dept : marketing
married : False

In [23]:
menu = {
    "paneerchilli": 190,
    "chiken65": 180,
    "fried_chiken": 260,
    "paneer": 120,
    "pasta": 150,
    " vegburger": 125,
    "nonvegburger": 160
    
}

In [26]:
menu.get(" veg burger")

125

In [27]:
menu.get("fried chiken")

260

In [31]:
def hotel_bill(table_no, **kwargs):
    # Print table number
    print(f"Table number - {table_no}")
    # Intialize total amount to 0
    amt = 0
    # Apply for loop on kwargs
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal = price*qty
            amt += subtotal
        print(f"Food item - {food}, qty- {qty}, price - {price} INR, subtotal - {subtotal} INR")
    # Show the final bill
    print(f"Final Bill is : {amt} INR")
    return amt

In [32]:
t1 = hotel_bill(
    table_no=1,
    paneer=2,
    vegburger=4,
    nonvegburger=2,
    chiken65=1
)

Table number - 1

UnboundLocalError: cannot access local variable 'subtotal' where it is not associated with a value